body {
    font-family: 'Source Sans Pro';
    background: #2d91ad;
    font-size: 12px;
    margin:0;
    color:#FFFFFF;
   
}
#selections { 
    border: 1px solid #FFFFFF;
    background: #99c0cc;
    padding: 2px;
    margin: 10%;
	display: grid;
    grid-template: auto/auto;
    grid-template-areas: 
    "subjects"
    "modules"
    "term1Spins"
    "term2Spins"
    "applicationForm"
    ;

}
#selections > * {
    border: 1px solid #FFFFFF;

}
#selections > * > *{
    border: 1px solid #FFFFFF;
    
}
#subjects {
    grid-area: subjects;
    display: grid;
    grid-template: auto/ repeat(7, 14.2857142857%);
}
#modules {
	grid-area: modules;
	display: grid;
	grid-template: auto/ repeat(7, 14.2857142857%);
}

#term1Spins {
	grid-area: term1Spins;
	display: grid;
	grid-template: auto/ repeat(7, 14.2857142857%);
}

#term2Spins {
	grid-area: term2Spins;
	display: grid;
	grid-template: auto/ repeat(7, 14.2857142857%);
}

#applicationForm{
	grid-area: applicationForm;
}

#form{
    background-color: #b3c9d3;
    padding: 10px;

}
#applicationForm input[name="SelectApp"]{
    position:relative;
    width:100%;
    height: auto;
}