.TextAreas[type=text], select, textarea {
    width: 75%;
    height: 20%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: black;
    }
.ClassandTeachers[type=text], select, textarea {
    width: 50%;
    height: 1em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-color: black;
    }
.button {
    background-color: #0696CD;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    background: linear-gradient( to top,#0696CD, #B7D2FF);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.ClassType {
    color: black;
    width: auto;
    margin-top: 6px;
    border-color: black;
}


body {background-color: #0284B0}
body {background-image: url(https://78.media.tumblr.com/64a88a6fd3da7f67a5282c0cfa893653/tumblr_inline_mjib9fyoK51qz4rgp.png);
    /*background-repeat: no-repeat;*/
     background-attachment: center;
     background-position: 75.5% 40%;
    background-position: ;
    }
.input[type=text], select, textarea {
    width: 10em;
    height: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-color: black;
    }
