header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    width: 100%;
    height: 50px;
    background-color: darkslategrey;
    margin: 0px;


}
header #grid-container {
    display: grid;
    position: relative;
    padding: 0px 20px 0px 20px;
    grid-column-gap: 10px;
    grid-template-columns:  min-content max-content 1fr min-content min-content;

}
/*header #grid-container div {
    display: block;

}*/
.Logo {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);

}
#Profile {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: fit-content;
    min-width: 75px;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: auto 2fr auto 1fr;
}
#Profile:hover {
    box-shadow: 0 0 20px 5px rgba(67, 216, 223, 0.407);

}
#Profile img {
    object-fit: cover;
    border-radius: 50%;

}
#YearLevel {
    width: 50px;
    height: auto;

    display: flex;
    justify-self: center;
    align-items: center;

    cursor: pointer;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-template-columns:  1fr 1fr 1fr;
}
nav a {
    padding: 8px, 0px;
    text-decoration-style: none;
    text-decoration-line: none;
    color: rgb(0,0,0);
}




#dropdownArrow1{
    justify-self: center;
    align-self: center;

    position: inherit;
    width: 25px;
    height: 25px;
    background-color: rgb(80, 80, 80);
    
    -webkit-clip-path: polygon(75% 40%, 50% 65%, 25% 40%);
    clip-path: polygon(75% 40%, 50% 65%, 25% 40%);
    /* equalateral triangle
      -webkit-clip-path: polygon(75% 31.7%, 50% 75%, 25% 31.7%);
    clip-path: polygon(75% 31.7%, 50% 75%, 25% 31.7%);
    */
}

/*Main body*/
#main {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgb(125, 125, 125);
    top: 0;
    left: 0;
    margin: 0;

    
}
#mainGrid {
    margin: 25px;
    width: 100%;


}
#mainGrid > div {
    height: 10%;
    width: 90%;
    align-content: center;
    border: solid 10px rgb(80, 80, 80);

}
/*General style of the Curriculum, Period and Class Header Bars*/ 
.HeaderBar {
    display: grid;
    grid-template-columns: 20% 80%;
}
    .BarTitle {
        background-color: rgb(133, 133, 133);
    }
    /*Places Subjects div's into grids*/ 
    .Subjects {
        background-color: rgb(200, 200, 200);
        display: grid;
        grid-template-columns: repeat(8,1fr); 

    }
    .Subjects div{
        word-break: break-word;
        min-width: 0;
        
        text-align: center;
        border: 1px solid #FFFFFF; 
    }

.ClassDropdownDescription {
    display: grid;
    grid-template: 25px 25px 25px/20% 35% 45%;
    grid-template-areas: 
    "Name NCEA Description"
    "Teachers NCEA Description"
    "Inputs NCEA Description";

}
.ClassDropdownDescription #Name {
    grid-area: Name;

}
.ClassDropdownDescription #Teachers {
    grid-area: Teachers;

}
.ClassDropdownDescription #Inputs {
    grid-area: Inputs;

}
.ClassDropdownDescription #Description {
    grid-area: Description;

}
.ClassDropdownDescription #NCEA {
    grid-area: NCEA;

}