#mainGrid {
	height:600px;
	grid-template: "buttons tabs-content" 100% / min-content 1fr;
	grid-gap:0 !important;
}

.background {
	background-color:grey;
	padding: 20px;
	grid-area:tabs-content;
	box-sizing:border-box;
	
}

.tabs-button-people {
	grid-area:buttons;

}

.tabs-button-people button{
	border:none;
	background-color:grey;
	padding:5px;
	box-sizing:border-box;

}

/* main "grid"; Styling of both Teacher List and Teacher Profile */
.peopleManage {
	display: grid;
	grid-template-columns: 230px auto;
	grid-gap: 20px;
	grid-template-rows:100%;
	height:100%;
}


/* Teacher List Styling, Left Object */
.peopleManage > .peopleList{
	display:grid;
	/* grid-template-rows: min-content min-content calc((100% - 170px) - 16rem) min-content; */
	grid-gap: 10px;
	width:auto;
	align-content : center;
	align-items:center;
	border: 2px double #000000;
	border-radius: 20px;
	background-color: #F8F8F8;
}

/* Teacher list Header */

.peopleList header{
	display:grid;
	height:100px;
	grid-template-columns:1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #000;
}

/* Teacher List Searchbar */
.search_bar {
    display: grid;
    align-items: center;
    width: auto;
    border: 1px solid #4D4D4D;
    border-radius: 2.5em;
    grid-template-areas: none;
    grid-template-columns: 1.5em auto;
    padding: 2px;
	margin: 5px 5px;
    background-color: #FFFFFF;
}

input.search {
	border:none;
}

/*List of Teacher Names */
.people {
	height:100%;
	justify-content: center;
	display : grid;
	overflow-y: scroll;

}

/* Styling for Individual Teacher boxes */
.people > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	height:12px;
	border: 1px solid #000000;
	border-radius: 50px;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	background-color: white;
}

/* Functions in Teacher List- Modal & Export */

.functions {
	display:grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}


/* Right Grid, Teacher Profile */
.peopleManage > .Content{
	display:grid;
	grid-template-rows:min-content 1fr;
	border: 2px double #000000;
	border-radius: 20px;
	width:auto ;
	/*align-content : center;*/
	height: auto;
	background-color: #F8F8F8;
}


h4 {
	margin: 0;
}

.people_text {
	margin: 0;
}


/* Header of Teacher Profile */
.Content header{
	display: grid;
	align-items: center;
	height:100px;
	padding: 0 5px;
	grid-template-columns: repeat(4,max-content) 2fr 1fr;
	gap: 5rem;
	border-bottom:1px solid black;
}

/* Styling of Old Buttons */
/* #classes {
	display: grid;
	/* grid-template-columns: repeat(2, max-content); */
/*    height: max-content;
}
#classes > div {
	border: 1px solid #000000;
	
	background-color:#EEEEEE;
	padding: 0 15px;
}
#classes > div > h2 {
	font-weight: normal;
}
*/

/*Styling for Wrapper */
.wrapper {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	align-items:center;
	height:100%;
	justify-content:space-between;
	border: 1px dotted #000000;
    background-color: grey;
    border-radius: 0 0 20px 20px;
	padding-bottom: 10px;
	padding: 5px;
	gap:5px;
	box-sizing:border-box;
	
}		

/* Individual Classes Box */

.block {
	border: 1px solid #000000;
	padding : 5px 5px 5px 5px;
	border-radius: 20px;
	justify-content: center;
	display: grid;
	background-color:#FFFFFF;
	height: 100%;
	width: 100%;
	box-sizing:border-box;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 3fr 3fr 0.5fr;
}

/* Text Styling inside of Boxes for Classes */
.block h4 {
	text-align: center;
	font-weight: normal;
    margin: 10px 0;
}
.block p{
	padding: 0px 5px 0 5px;
    text-align: center;
	font-size: x-small;
}

.wrapper textarea {
	resize: none;
	height:60%;
	width:100%;
	box-sizing:border-box;
	align-items:center;
	justify-content:center;
	border-radius: 5rem;

}

.suggestion {
	width:100%;
}
		/* Comment*/

.send {
	background-color: green;
    width: 20%;
    height: auto;
    border: 1px solid black;
	margin: 0px 0 0 70%;
	border-radius: 2rem;
}
.t_input {
	grid-area: text_input;
    display: grid;
    align-items: center;
}
.c_input{
	grid-area:checkbox;
	display:grid;
	align-items:center;
}
/* 
.first_name {
	grid-area: teacher_first_name;
}

.last_name {
	grid-area: teacher_last_name;
}

.kamar_code {
	grid-area: kamar_code;
}

.privilege {
	grid-area : privilege;
}

.gmail {
	grid-area : gmail;
}

.has_hub {
	grid-area:has_hub;
}
*/
.profile {
	display:grid;
	grid-template: 
	'text_input checkbox' 4fr  
	'other other' 1fr/ max-content max-content
	;
	height:100%;
	width:min-content;
    
	border-radius: 0 0 20px 20px;
	/* 
	background-color: grey;
	border: 1px dotted #000000;
	padding-bottom: 10px;
	padding: 5px;
	grid-gap: 20px; */
	box-sizing:border-box;
	margin:0 auto;
	grid-gap: 20px;
	font-size:20px;
	padding:20px;
	
}	

.profile input[disabled] {
	/* width: 100%;
	height:30px; */
	font-size: 20px;
	border: 1px solid black;
	background-color: rgb(235, 235, 228);

}

.profile input {
	/* width: 100%;
	height:30px; */
	font-size: 20px;
	border: 1px solid black;
	background-color: white;

}

/* 
.has_hub {
	display:grid;
	grid-template-columns:2fr 1fr;
	font-size:20px;
	
}


.has_hub h4{
	font: 400 20px Arial;
}
*/

.others {
	grid-area: other;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items:center;
	text-align: center;
	gap:20px;
	
}

.remove_teacher {
	background:red;
	
}

.save_description {
	background:cyan;

}

.edit_description {
	background:cyan;

}

.other {
	border-radius: 5px;
	border:1px solid black;
	height:40px;
	
}


.student_profile {

	display:grid;
	/* background-color: grey;
	padding: 0 auto;
	border: 1px dotted #000000;
	*/
	height:100%;
	width:min-content;
    
	border-radius: 0 0 20px 20px;
	
	margin:0 auto;
	grid-gap: 20px;
	font-size:1rem;
	align-items:center;
	justify-content:space-between;
	
	box-sizing:border-box;
}

.student_profile textarea {
	resize:none;
	width:400px;
	height:40px;
}

.student_others {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items:center;
	text-align: center;
	gap:20px;
	
}

.hub_manage {
	display:grid;
	grid-template: "hubling . students" 90%
	". button ." 10%/ 3fr 1fr 3fr;
	margin:0 auto;
	height:inherit;

}

.hubling {
	grid-area: hubling;
	padding: 0 10px;
	height:350px;
}

.all_students {
	grid-area:students;
	padding: 0 10px;
	height:350px;
}

.changeMonth {
	display:flex;
	margin:5px 0;
}

.changeMonth > button:hover {
	border:1px solid #000;
	border-radius: 5px;
	width:100%;
	height:30px;
	background-color: blue;
}

.changeMonth > button {
	border:1px solid #000;
	border-radius: 5px;
	width:100%;
	height:30px;
	background-color: white;
}

.calendar > table {
	width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    box-sizing: border-box;
}