#teacherManage {
	display: grid;
	grid-template-columns: 200px auto;
	grid-gap: 20px;
	grid-template-rows:min-content;
	}


#teacherManage > #teacherList{
	display:grid;
	grid-template-rows:min-content 1fr;
	border: 2px double #000000;
	border-radius: 20px;
	width:auto ;
	align-content : center;
	height: auto;
	padding: 10px 0;
	background-color: #F8F8F8;
}
.search_bar {
    display: grid;
    align-items: center;
    width: auto;
    border: 1px solid #4D4D4D;
    border-radius: 2.5em;
    grid-template-areas: none;
    grid-template-columns: 1.5em auto;
    padding: 2px;
	margin: 5px 5px;
    background-color: #FFFFFF;
}

input.search {
	border:none;


}
#teacherManage > #Content{
	display:grid;
	grid-template-rows:min-content 1fr;
	border: 2px double #000000;
	border-radius: 20px;
	width:auto ;
	align-content : center;
	height: auto;
	background-color: #F8F8F8;
}
#teacherList {
	display: block;
	align-items: center;
	
}

#teacherList header{
	display:grid;
	grid-template-columns:1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #000;
}
h4 {
	margin: 0;
}

#functions {
	display:grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#teachers {
	justify-content: center;
	display : grid;

}
#teachers > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	border: 1px solid #000000;
	border-radius: 50px;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	background-color: white;
}

#topBar {
	display: grid;
    align-items: end;
    margin: 0 5px;
	grid-template-columns: auto max-content;
}
#classes {
	display: grid;
	grid-template-columns: repeat(2, max-content);
    height: max-content;
}
#classes > div {
	border: 1px solid #000000;
	
	background-color:#EEEEEE;
	padding: 0 15px;
}
#classes > div > h2 {
	font-weight: normal;
}
#Content header{
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3,max-content) 2fr;
	gap: 5rem;
}
		
#Content hgroup{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color:red;

}

.block h4 {
	text-align: center;
	font-weight: normal;
    margin: 10px 0;
}
.block p{
	padding: 0px 5px 0 5px;
    text-align: center;
	font-size: x-small;
}
#wrapper {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	align-items:center;
	height:auto;
	justify-content:space-between;
	border: 1px dotted #000000;
    background-color: grey;
    border-radius: 0 0 20px 20px;
	padding-bottom: 10px;
	padding: 5px;
	gap:5px;
	
}		

#wrapper input {
	width:100%;
	box-sizing:border-box;
	align-items:center;
	justify-content:center;

}

.block {
	border: 1px solid #000000;
	padding : 5px 5px 5px 5px;
	border-radius: 20px;
	justify-content: center;
	display: grid;
	background-color:#FFFFFF;
	height: 100%;
	width: 100%;
	box-sizing:border-box;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 3fr 3fr;
}

.suggestion {
	width:100%;
}
		/* Comment*/

.send {
	background-color: green;
    width: 20%;
    height: 25px;
    border: 1px solid black;
    margin: 0px 0 0 70%;
}


#background_toggles {
	background-color:grey;
	padding: 20px;
}
