
/* styling for all 3 modals */

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,.close:focus {
	color: #000;
	text-decoration : none;
	cursor : pointer;
}

.modal-content {
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-content-style {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.modal-content-input {
	background-color:#f3fbfd; 
	border: 1px solid #4D4D4D; 
}

/* End of all the stylings */

 /* Individual Styling for the different buttons */
#add_teacher {
	justify-self: center;
} 

#add_teacher_button {
	background-color: #3cfd46;
	border: 1px solid #000;
	padding: 5px;
}

