.TextAreas[type=text], select, textarea {
    width: 50%;
    height: 20%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
.ClassandTeachers[type=text], select, textarea {
    width: 50%;
    height: 1%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }
.button {
    background-color: #0696CD;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
.ClassType {
    color: black;
    width: 25%;
    margin-top: 6px;
}

.dropdown {
    color: black;
    width: 75%;
    margin-top: 6px;
}
body {background-color: #0284B0}
body {background-image: url(https://78.media.tumblr.com/64a88a6fd3da7f67a5282c0cfa893653/tumblr_inline_mjib9fyoK51qz4rgp.png);
    /*background-repeat: no-repeat;*/
     background-attachment: center;
     background-position: 75.5% 40%; 
    background-position: ; 
    }
.input[type=text], select, textarea {
    width: 10%;
    height: 5%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }
