html {
    /*Test text*/
    font-size: 1px;
}
body {
    font-size: 16px;
}

/*Main body*/
#main {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgb(125, 125, 125);
    top: 50rem;
    left: 0;
    margin: 0;

    
}
#mainGrid {
    background-color: rgb(80, 80, 80);
    margin: 5%;
    width: 90%;
    min-width: fit-content;
    display: grid;
    grid-gap: 25rem;

}
#mainGrid > div {
    height: auto;
    width: 90%;
    align-content: center;
    margin: 0 5% 0 5%;

}

button { 
    width: calc(50% - 2px);
    font-size: 1em;
}

@media only screen and (max-width: 1000px) {
    body{
        font-size: 12px;
    }
    #mainGrid {
        margin: 3.5%;
        width: 91.5%;
        grid-gap: 20rem;
    
    }
    .DropdownButton {
        width: 20rem;
        height: 20rem;
    }
}
@media only screen and (max-width: 750px) {
    body{
        font-size: 8px;
    }
    #mainGrid {
        margin: 2%;
        width: 93%;
        grid-gap: 10rem;
    
    }
    .DropdownButton {
        width: 15rem;
        height: 15rem;
    }
    

}
@media only screen and (max-width: 500px) {
    body{
        font-size: 6px;
    }
    #mainGrid {
        margin: 1%;
        width: 94%;
        grid-gap: 5rem;
    
    }
    .DropdownButton {
        width: 10rem;
        height: 10rem;
    }
    button {
        width: 100%;
        padding: 1px 2px;
    }

}