body {
    margin: 0px;
}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    width: 100%;
    height: 50rem;
    background-color: darkslategrey;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    background-image: linear-gradient(rgb(117, 129, 211), rgb(117, 129, 211), rgb(117, 129, 211), rgb(52, 73, 109));
    box-shadow: -1px 4px 20px 0.5px #000000a1;
    


}
header #grid-container {
    display: grid;
    position: relative;
    padding: 0 20rem 0 20rem;
    grid-column-gap: 10rem;
    grid-template-columns:  min-content max-content 1fr min-content min-content;

}
/*header #grid-container div {
    display: block;

}*/
.Logo {
    border-radius: 5rem;
    margin: 5rem;
    padding: 5rem;
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);

}
#Profile {
    border-radius: 5rem;
    margin: 5rem;
    padding: 5rem;
    height: fit-content;
    min-width: 75rem;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: auto 2fr auto 1fr;
}
#Profile:hover {
    box-shadow: 0 0 20rem 5rem rgba(67, 216, 223, 0.407);

}
#Profile img {
    object-fit: cover;
    border-radius: 50%;

}
#YearLevel {
    width: 2em;
    height: auto;

    display: flex;
    justify-self: center;
    align-items: center;

    cursor: pointer;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-template-columns:  1fr 1fr 1fr;
}
nav a {
    padding: 8rem, 0rem;
    text-decoration-style: none;
    text-decoration-line: none;
    color: rgb(0,0,0);
}
