.students {
    display: block;
    align-items: center;

    overflow-y: scroll;
    height: auto;
    padding: 2rem 2rem 2rem 10rem;
}
/* width */
.students::-webkit-scrollbar, .classes::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

/* Track */
.students::-webkit-scrollbar-track, .classes::-webkit-scrollbar-track {
    background: #f1f1f1; 
    padding: 0 5px;
    border-radius: 0.5em;
}

/* Handle */
.students::-webkit-scrollbar-thumb, .classes::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0.5em;
}

/* Handle on hover */
.students::-webkit-scrollbar-thumb:hover, .classes::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.students p {
    font-size: 0.75em;
    flex-grow: 0.8;
}
div.student {
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 1.25em;
    border-radius: 1em;    
    padding: 0 2.5px;
    background-color: #FFFFFF;
    border: 1px solid #4D4D4D;     
}
.coverageCheck {
    color: #FFFFFF;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #40F364;  
    font-size: 0.75em;  
}